<footer class="footer d-flex justify-content-center fs-5">
  <div class="align-self-end">
    <div class="d-flex justify-content-center">
      <a href="#">
      <img class="me-3" src="./assets/images/icon-fb.svg" alt="icon-fb.svg">
      </a>
      <a href="#">
      <img src="./assets/images/icon-ig.svg" alt="icon-ig.svg">
      </a>
    </div>
    <div>
      Copyright © 2022 Maomao Corps
    </div>
  </div>
</footer>