.footer{
  font-family: $font-family-nanum-pen;
  background-image: url('../images/footer-bg-lg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 270px;
}